<div class="container">

  <div class="row">
    <div class="col-sm-1" style="padding-right:0px; padding-left:0px;">
      <button type="button" (click)="addNewRow()" class="btn btn-primary"
        style="padding:0px 14px 0px 14px;; margin:0px 5px 5px 0px;">+</button>
      <button type="button" (click)="removeRows()" class="btn btn-primary"
        style="padding:0px 16px 0px 16px; margin:0px 5px 5px 0px;">-</button>
      <button type="button" (click)="submitGrid()" class="btn btn-primary"
        style="padding:0px 16px 0px 16px; margin:0px 5px 5px 0px;">Submit</button>
    </div>
    <div class="col-sm-5">
      <form>
        <div class="form-group">
          <input style="width:100%;" (keyup)="onFilterTextBoxChanged($event)" type="text" id="filter-text-box"
            placeholder="Global Search in grid" />
        </div>
      </form>
    </div>
    <div class="col-sm-3">
      <label for="sel1" style="float: right;">Select list (select one):</label>
    </div>
    <div class="col-sm-3" style="padding-right:0px; padding-left:0px; padding-bottom: 5px;">
      <select (change)="applyTypeChange($event)" style="max-width: 100%;" class="form-control col-sm-3" id="formType"
        name="formType">
        <option *ngFor="let t of formTypes;" [selected]="selectedFormType == t" value="{{t}}">{{t}}</option>
      </select>
      <!-- [selected] = "selectedFormType" -->
    </div>

  </div>

</div>